body {
	background-image: url(images/tt1.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.form {
	background: #AFEEEE;
	font-family: 'Nunito', sans-serif;
	width: 500px;
	padding: 40px;
	border-radius: 15px;
	margin-left: 150px;
	margin-top: 65px;
	border: 6px solid #7922
}


button {
	color: #000;
	background-color: blue;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	padding: 18px 79px 15px;
	border-radius: 25px;
	border: none;
	transition: all 0.5s ease 0s;
}

button:hover,
button:focus {
	box-shadow: none;
	outline: none;
}

form {
	height: 10px;
	padding: 20px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	outline: none;
	color: #000000;
}


